target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
mvnw
mvnw.cmd
.idea/
*.iws
*.iml
*.ipr
out/
*.log
.DS_Store
Thumbs.db
application.properties
application.yml
application.yaml
application-*.properties
application-*.yml
application-*.yaml
surefire-reports/
test-output/
*.jar
*.war
*.ear
*.bak
*.swp
*~
